/venv
/__pycache__
/.vscode
/app
/bin
/assets/venv
.directory
/src/assets
/src/__pycache__
/test_videos
Virtuoso_update.zip
src/main1920x360.kv
src/main1920x480.kv
src/main1920x550.kv
image_build/*.img
image_build/mnt/*