/__pycache__
/.vscode
/venv
config
kivy_test.py
test_cam.py
sun8i-h2-plus-bananapi-m2-zero.dtb.from_git
V24m_test_logo.bmp
V24m_test_logo.png
bootsplash.armbian
bootsplash.armbian.old
/dtb
/splash
bpi-m2p-ov5640.dts
bpi-m2z.dts
