/venv
/__pycache__
/.vscode
/app
/bin
/assets/venv
.directory
/src/assets
/src/__pycache__
/test_videos
Virtuoso_update.zip
src/main*.kv
image_build/*.img
image_build/*.z*
image_build/mnt/*
logs
video/*
